/* Styling footer background*/
footer{
    width: 1400px;
    height: 249px;
    background-color: #071629;
}
/* arrange the footer icons*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 50px;
    
}
/*styling the footer logo*/
.footer-logo img{
    width: 214.12px;
    height: 32.06px;
    padding-left: 30px;
}
/* styling the social links*/
.footer-social{
    display: flex;
    gap: 15px;
    padding-right: 75px;
}
/* styling the copyrights*/
.footer-p{
    position: absolute;
    bottom: 10px;
    left: 50%;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
    transform: translateX(-50%);
}
