body{
    margin: 0px;
}
.background_image{
    background-image: url("Object.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 1093px;
}
/*Navigation section*/
.navigation nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* set the size of the logo*/
.navigation img{
    height: 50px;
}
/*add some between the links*/
.navigation a{
    margin-left: 80px;
}
/* push the link to the far right*/
.navigation nav a{
    margin-left: auto;
}

/*Remove underline and text color in navigation link*/
nav a{
    color: #FFFFFF;
    text-decoration: none;
}
/*Style top part of the burner*/
.burner1{
    text-align: center;
    color: #FFFFFF;
    padding: 50px;
}
/* set the container of three words*/
.container{
    display: flex;
    gap: 2px;
    justify-content: space-around;
    
}
.box{
        width: 100px;
        height: 100px;
        text-align: center;
    }
/* set the button color*/
.custom-button{
    width: 261px;
    height: 40px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #C271FF;
    font-size: larger;
}
/* setting the header at the centre of the page*/
.centred{
    text-align: center;
    font-size: 32px;
    color: #FFFFFF;
    padding-top: 100px;
}
.highlight{
    color: #C271FF;
}
/*Setting the picrures to be displayed horizontally*/
.pictures{
    display: flex;
    flex-direction: row;
}
/*Styling the images and there content*/
.image_1{
    color: #FFFFFF;
    padding-left: 300px;
    padding-top: 70px;
}
.image_2{
    color: #FFFFFF;
    padding-left: 70px;
    padding-top: 70px;
}
.image_3{
    color: #FFFFFF;
    padding-left: 70px;
    padding-top: 70px;
}
.image_4{
    color: #FFFFFF;
    padding-left: 70px;
    padding-top: 70px;
}
/*Styling the quote section*/
.quote{
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #C271FF;
    align-items: center;
    width: 1440px;
    height: 392px;
}
.image_quote{
    padding-left: 200px;
}
.text_quote{
    padding-left: 50px;
    size: 22px;
    line-height: 33.6px;
}
.text_quote h2 {
    padding-top: 30px;
    font-weight: bolder;
} 
.text_quote h4{
    padding-top: 10px;
}
/* Video section*/
/* styling the header*/
#videos h2{
    text-align: center;
    size: 50px;
    padding-top: 50px;
    font-weight: bolder;
}
.video-highlights{
    color: #C271FF;
}
.video-blocks{
    display: flex;
    flex-direction: row;
    width: 1228px;
    height: 450px;
    padding-top: 50px;
    padding-left: 50px;
}
/* Set the video1 play button*/
.video-block-1{
    position: relative;
    display: inline-block;
    padding-right: 70px;
}
.video-1{
    width: 100%;
    height: auto;
}
.overlay-1{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50pxl;
    height: 50pxl;

}
/*set video 2 play button*/
.video-block-2{
    position: relative;
    display: inline-block;
    padding-right: 70px;
}
.video-2{
    width: 100%;
    height: auto;
}
.overlay-2{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50pxl;
    height: 50pxl;
}
/*set video3 paly button*/
.video-block-3{
    position: relative;
    display: inline-block;
    padding-right: 50px;
}
.video-3{
    width: 100%;
    height: auto;
}
.overlay-3{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50pxl;
    height: 50pxl;
}
/*set video 4 playing button*/
.video-block-4{
    position: relative;
    display: inline-block;
    padding-right: 70px;
}
.video-4{
    width: 100%;
    height: auto;
}
.overlay-4{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 50pxl;
    height: 50pxl;
}
/*changing the color of author and time length of the video*/
.author h4{
    color: #C271FF;
}
.rating p{
    color: #C271FF;
}
/* set the display of rating and time to flex row*/
.rating{
    display: flex;
    flex-direction: row;
    word-spacing: 0px;
}
/*membership section styling*/
.membership{
    background-color: #071629;
    color: #FFFFFF;
    width: 1440px;
    height: 502px;
    padding-top: 50px;
}

.membership-section{
    display: flex;
    flex-direction: row;
    border-spacing: 10px;
    align-items: center;
    padding-left: 100px;
    text-align: center;
    padding-right: 100px;
    padding-top: 50px;
}
.membership-section h1{
    font: bolder;
    size: 18px;
}
.membership-head{
    text-align: center;
    font-weight: bolder;
    size: 22px;
    align-items: center;
    color: #FFFFFF;
}
.membership-highlight{
    color: #C271FF;
}
.membership-1{
    padding-left: 130px;
}
.membership-4{
    padding-left: 130px;
}
.membership-3{
    padding-left: 30px;
}
.membership-2{
    padding-left: 130px;
}
/*styling the button*/
.button-member-section{
    text-align: center;
    color: #FFFFFF;
    padding: 40px;
}
.membership-button{
    width: 261px;
    height: 40px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #C271FF;
    font-size: larger;
}
/*styling the FAQ section*/
.FAQ-1{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.FAQ-2{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.FAQ-containers{
    display: flex;
    flex-direction: row;
    text-align: start;
    padding-left: 230px;
}
/*styling the header*/
.FAQ h1{
    font-size: large;
    text-align: center;
    font-weight: bolder;
    color: #071629;
    padding-top: 20px;
    size: 60px;

}
/*Styling sub headers*/
.FAQ-11 h2{
    font-size: larger;
    text-align: start;
    font-weight: bolder
}
.FAQ-12 h2{
    font-size: larger;
    text-align: start;
    font-weight: bolder;
    padding-top: 20px;
}
.FAQ-21 h2{
    font-size: larger;
    text-align: start;
    font-weight: bolder;
}
.FAQ-22 h2{
    font-size: larger;
    text-align: start;
    font-weight: bolder;
    padding-top: 20px;
}
